<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-background-mode"
        version="0.0.1">

    <name>BackgroundMode</name>

    <description>
        Cordova plugin to prevent the app from going to sleep in background.
    </description>

    <keywords>backgroundMqtt</keywords>


    <!-- dependencies -->
    <dependency id="cordova-plugin-device" />

    <!-- cordova -->
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <!-- js -->
    <js-module src="www/background-mode.js" name="BackgroundMode">
        <clobbers target="cordova.plugins.backgroundMode" />
        <clobbers target="plugin.backgroundMode" />
    </js-module>
    
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="BackgroundMode" >
                <param name="android-package"
                      value="de.appplant.cordova.plugin.background.BackgroundMode"/>
            </feature>
        </config-file>
		
        <config-file target="res/xml/config.xml" parent="/*">
            <preference name="KeepRunning" value="true" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <!--
             * Puts the service in a foreground state, where the system considers
             * it to be something the user is actively aware of and thus not a
             * candidate for killing when low on memory.
            -->
            <service android:name="de.appplant.cordova.plugin.background.ForegroundService"/>

        </config-file>
		 <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"></uses-permission>
        </config-file>
		
		<source-file src="libs/wmqtt.jar" target-dir="libs" />
		
		<source-file
            src="src/android/MQTTConnection.java"
            target-dir="src/de/appplant/cordova/plugin/background" />
		
        <source-file
            src="src/android/BackgroundMode.java"
            target-dir="src/de/appplant/cordova/plugin/background" />

        <source-file
            src="src/android/ForegroundService.java"
            target-dir="src/de/appplant/cordova/plugin/background" />

    </platform>

</plugin>
